h1 {
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
}

.month {
    text-align: center;
    padding-right: 10%;
}

.weekdays {
    list-style-type: none; /* remove bullets */
    display: inline-grid;
    grid-auto-flow: column;
    column-gap: 13px;
}

.weekdays li {
    display: inline-block;
}

.days {
    list-style-type: none; /* remove bullets */
    display: inline-grid;
    grid-auto-flow: column;
    column-gap: 15px;
}

.days li {
    display: inline-grid;
}

.calendar-widget {
    padding-left: 25%;
    padding-right: 55%;
}

.month {
    padding-left: 8%;
}

.task-box{
    width: 350px;
    height: 200px;
    border: 1px solid;
}

.task-list{
    padding-left: 140%;
    padding-right: 200%;
    margin-top: -365px;
}
