@media screen and (max-width: 750px){
    .team-logo {
        margin-bottom: -30px;
    }
    .month {
        text-align: center;
        width: 200px;
    }

    

}

/* background color to match our theme */
* {
    background-color: #F2E4FB;
}

/* centers team logo, I think? */
.team-logo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;

    text-align: center;
}

/* fonts for calendar */
.jersey-15-regular {
    font-family: 'Jersey 15', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.jersey-20-charted-regular {
    font-family: "Jersey 20 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
    text-align: center;

    /* font for title */
    font-family: 'Jersey 15', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    
    color: #3C62D5;
    
    margin-bottom: -4px; /* brought the img closer to the title */
}

img {
    width: 300px;
    height: 300px;

    margin-bottom: -5px;
}

.month {
    text-align: center;
    padding-right: 10%;
}

.weekdays {
    list-style-type: none; /* remove bullets */
    display: inline-grid;
    grid-auto-flow: column;
    column-gap: 13px;

}

.weekdays li {
    display: inline-block;
}

.days {
    list-style-type: none; /* remove bullets */
    display: inline-grid;
    grid-auto-flow: column;
    column-gap: 15px;

    margin-bottom: 15px; /* leaves a little more space at the bottom of the screen */
}

.days li {
    display: inline-grid;
}
.days li:hover{ /* every time you hover over a date in the calendar, it will change color */
    color: #6E8BEB;
}

.calendar-widget {
    padding-left: 25%;
    padding-right: 55%;

}

.month {
    padding-left: 8%;
}

.task-box{
    width: 350px;
    height: 200px;
    border: 2px solid;
    border-right: 3px #132865 solid;

    margin-top: -20px;
}

.task-list{
    padding-left: 140%;
    padding-right: 200%;
    margin-top: -365px;
}

/* changed the width of the Today's tasks so that it spans the entire box */
.task-title{
    width: 342px;
    text-align: center;

    font-family: "Jersey 15", sans-serif;
    color: #3C62D5;
    

    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;

    border-bottom: 2px #7d91ce solid;
    border-top: 2px #7d91ce solid;
    border-right: 3px #132865 solid;
    border-left: 2px #abb2f2 solid;

    background-color: #f6f0fc;
}

/* changed the background color of the task box */
.task-box ul, .task-box li {
    background-color: #dbeafe; 
}
.task-box{
   background-color: #dbeafe; 
}

.calendar {
    font-size: 20px;
}